p {
  font-family: "Audiowide", cursive;
  color: #555454;
  font-size: 1.3rem;
}
.poke-image{
    height: auto; 
    width: auto;
    max-width: 800px; 
    max-height: 800px;
}
.message-save{
  font-family: "Audiowide", cursive;
  color: #C70039;
  font-size: 1rem;
}
