@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

.pokemon-state{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #C6C5C5;
    margin:0;
}

