@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");


h1 {
  font-family: "Audiowide", cursive;
  color: #06CAFA;
  font-size: 2.8rem;
 
}
.container-cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px;
  padding: 10px;
}
.message-error {
  background-color: crimson;
}
